@{
    ViewData["Title"] = "Sobre o Projeto";
}
<h2>@ViewData["Title"]</h2>

<p> 
    O Projeto Oluchi visa mapear, captar e difundir produções artísticas de pessoas negras no Rio de Janeiro. 
    Inicialmente abrangemos apenas o âmbito regional, mas pretendemos futuramente ampliar essa divulgação para todo o Brasil. 
    <br><br>
    Oluchi é uma palavra da língua Igbo, uma das principais línguas da Nigéria e significa <i>arte ou obra divina</i>. Neste contexto,
    escolhemos esta palavra pois é a que melhor retrata e espelha nossa visão sobre 
    <br><br>
    Nossa iniciativa se dá pela ausência (ou quase) de artistas negros em mostras culturais e/ou apresentações individuais
    seja pela baixa procura ou pela falta de divulgação. Visando dar o holofote necessário para esses artistas, nasce 
    o Projeto Oluchi para refletirmos sobre o sistema de arte brasileiro e evidenciar a visibilidade do protagonismo negro.<br/><br/> 
</p>
