@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>

<address>
    Rua Paulo Freire, 19<br />
    Rio de Janeiro, 22150-100<br />
    <abbr title="Phone">Telefone:</abbr>
    (21) 98052-6399
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:suporteoluchi@gmail.com">SuporteOluchi@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketingoluchi@gmail.com">MarketingOluchi@gmail.com</a>
</address>
