@{
    ViewData["Title"] = "Eventos";
}

<h2>@ViewData["Title"]</h2>

<br/>
<div class="container">
    <div class="row">
        <div class="col col-md-4">
            <div class="card" style="width: 27rem">
                <img class="card-img-top" src="~/images/dança1.jpg" alt="Danças" style="height:180px; width:270px">
                <div class="card-body">
                 <h5 class="card-title" style="font-weight:bold">Danças</h5>
              <p class="card-text">A influência afro-brasileira está patente em expressões como Samba, Jongo, Carimbó,
              Maxixe, Maculelê, Maracatu. ... Temos outras expressões de música e dança como as danças rituais, o tambor
              de crioula, e os estilos mais contemporâneos, como o samba-reggae e o axé baiano.</p>
             <button type="submit" class="btn btn-warning"><a asp-area="" asp-controller="Agenda" asp-action="Index">Ir para Agenda</a></button>
             </div>
            </div>
        </div>

        <div class="col col-md-4">
            <div class="card" style="width: 27rem">
                <img class="card-img-top" src="~/images/img-capoeira-400.png" alt="Capoeira" style="height:180px; width:270px">
                <div class="card-body">
                 <h5 class="card-title" style="font-weight:bold">Capoeira</h5>
              <p class="card-text">A capoeira é uma expressão cultural e luta afro-brasileira criada pelos negros
              africanos que foram escravizados em território brasileiro. Essa prática foi desenvolvida pelos povos
              escravizados como uma forma de defesa às brutais violências praticadas pelos seus senhores.</p>
             <button type="submit" class="btn btn-warning"><a asp-area="" asp-controller="Agenda" asp-action="Index">Ir para Agenda</a></button>
             </div>
            </div>
        </div>

         <div class="col col-md-4">
            <div class="card" style="width: 27rem">
                <img class="card-img-top" src="~/images/img-instrumento-400.jpeg" alt="Instrumentos" style="height:180px; width:270px">
                <div class="card-body">
                 <h5 class="card-title" style="font-weight:bold">Instrumentos</h5>
              <p class="card-text">O mais amplo projeto da instituição promove a inclusão social de crianças e jovens por
              meio da música. Com aulas semanais de diversos instrumentos de orquestra, canto coral, teoria musical e cidadania, a iniciativa foi premiada com o certificado de Tecnologia Social.</p>
             <button type="submit" class="btn btn-warning"><a asp-area="" asp-controller="Agenda" asp-action="Index">Ir para Agenda</a></button>
             </div>
            </div></div>
        <div class="row">
        <div class="col col-md-4">
            <div class="card" style="width: 27rem">
                <img class="card-img-top" src="~/images/img-teatro-400.jpg" alt="Teatro" style="height:180px; width:270px">
                <div class="card-body">
                 <h5 class="card-title" style="font-weight:bold">Teatro</h5>
              <p class="card-text">Teatro e literatura andam lado a lado desde épocas mitológicas, por isso é importante
              para o ator conhecer a história do teatro, seus principais autores e obras para aumentar sua bagagem
              cultural e profissional. Este conhecimento o ajudará de forma direta na composição de personagens.</p>
             <button type="submit" class="btn btn-warning"><a asp-area="" asp-controller="Agenda" asp-action="Index">Ir para Agenda</a></button>
             </div>
            </div>
        </div>

        <div class="col col-md-4">
            <div class="card" style="width: 27rem">
                <img class="card-img-top" src="~/images/img-comida-400.jpg" alt="Gastronomia" style="height:180px; width:270px">
                <div class="card-body">
                 <h5 class="card-title" style="font-weight:bold">Gastronomia</h5>
              <p class="card-text">A feijoada é um dos pratos mais conhecido do Rio de Janeiro,sendo uma comida típica
              brasileira. Seus ingredientes são: feijão preto cozido, com partes menos nobres do porco, como orelha,
              rabo, além de linguiça e carne seca. Normalmente vem acompanhada de couve e de arroz.</p>
             <button type="submit" class="btn btn-warning"><a asp-area="" asp-controller="Agenda" asp-action="Index">Ir para Agenda</a></button>
             </div>
            </div>
        </div>

        <div class="col col-md-4">
            <div class="card" style="width: 27rem">
                <img class="card-img-top" src="~/images/img_cantor-400.jpeg" alt="Cantor" style="height:180px; width:270px">
                <div class="card-body">
                 <h5 class="card-title" style="font-weight:bold">Cantores</h5>
              <p class="card-text">As aulas de Canto Coral na Cidade das Artes têm como primeiro objetivo aproximar as
              pessoas da vivência musical. É um curso de Canto que contém os elementos necessários para o
              desenvolvimento da técnica vocal, abordando respiração, postura, afinação, Repertório, exercícios vocais.</p>
             <button type="submit" class="btn btn-warning"><a asp-area="" asp-controller="Agenda" asp-action="Index">Ir para Agenda</a></button>
             </div>
            </div>
        </div>
        </div>
    </div>
</div>