@{
    ViewData["Title"] = "Eventos";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        <div class="col col-md-3">
            <div class="card h-100">
                <p class="card-body">This card on the left of the other two cards, with a fixed height and scrolling.</p>
            </div>
        </div>
        <div class="col col-md-3">
            <div class="card h-100">
                <p class="card-body">This card on the left of the other two cards, with a fixed height and scrolling.</p>
            </div>
        </div><div class="col col-md-3">
            <div class="card h-100">
                <p class="card-body">This card on the left of the other two cards, with a fixed height and scrolling.</p>
            </div>
        </div>
    </div>


<div class="container">
<div class="row">
    <div class="col col-md-3">
<div class="card" style="width: 27rem;">
  <img class="card-img-top" src="~/images/dança1.jpg" alt="Danças" style="height:180px; width:270px">
  <div class="card-body">
    <h5 class="card-title" style="font-weight:bold">Danças</h5>
    <p class="card-text">A influência afro-brasileira está patente em expressões como Samba, Jongo, Carimbó,
              Maxixe, Maculelê, Maracatu. ... Temos outras expressões de música e dança como as danças rituais, o tambor
              de crioula, e os estilos mais contemporâneos, como o samba-reggae e o axé baiano.</p>
    <button type="submit" class="btn btn-warning"><a asp-area="" asp-controller="Agenda" asp-action="Index">Ir para Agenda</a></button>
  </div>
</div>
</div>

<br/>
<br/>

<div class="row">
    <div class="col col-md-3">
<div class="card" style="width: 27rem;">
  <img class="card-img-top" src="~/images/img-capoeira-400.png" alt="Capoeira" style="height:180px; width:270px">
  <div class="card-body">
    <h5 class="card-title" style="font-weight:bold">Capoeira</h5>
    <p class="card-text">A capoeira é uma expressão cultural e luta afro-brasileira criada pelos negros
              africanos que foram escravizados em território brasileiro. Essa prática foi desenvolvida pelos povos
              escravizados como uma forma de defesa às brutais violências praticadas pelos seus senhores.</p>
    <button type="submit" class="btn btn-warning"><a asp-area="" asp-controller="Agenda" asp-action="Index">Ir para Agenda</a></button>
  </div></div>
</div>
</div>

<br/>
<br/>

<div class="card" style="width: 27rem;">
  <img class="card-img-top" src="~/images/img-instrumento-400.jpeg" alt="Instrumento" style="height:180px; width:270px">
  <div class="card-body">
    <h5 class="card-title" style="font-weight:bold">Instrumento</h5>
    <p class="card-text">O mais amplo projeto da instituição promove a inclusão social de crianças e jovens por
              meio da música. Com aulas semanais de diversos instrumentos de orquestra, canto coral, prática em
              conjunto, teoria musical e cidadania, a iniciativa foi premiada com o certificado de Tecnologia Social.</p>
    <button type="submit" class="btn btn-warning"><a asp-area="" asp-controller="Agenda" asp-action="Index">Ir para Agenda</a></button>
  </div>
</div>
</div>
</div>