@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Não vendemos seus dados para terceiros. Os dados aqui contidos são meramente ilustrativos e para fins educacionais.</p>
