@model Oluchi.Models.Categoria

@{
    ViewData["Title"] = "Delete";
}

<h2>Excluir categoria</h2>

<h4>Tem certeza que deseja excluir?</h4>
<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index">Voltar para lista</a>
    </form>
</div>
